<div class="container mt-5">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Operação Bem-Sucedida!</h4>
        <hr>
        <a class="btn btn-primary" href="/">Voltar à Página Inicial</a>
    </div>
</div>